.page-header {
  background-color: #ff9400;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.navbar-header, h1, h2, h3, h4, h5 {
  font-family: 'Lobster', cursive;
}
body{
  background-color: #EDC7B7;
}
.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 15pt;
  margin-right: 20px;
  padding-top: 10px;
}

.post {

  padding: 10px;
  border-style: groove;
  height: 53%;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 30px;
}


.post h1 a, .post h1 a:visited {
  color: #000000;
}

.comment {
  border-style: groove;
  padding: 10px;
  font-size: 15px;
}

a.btn:hover, button {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 a.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

