{% extends 'parsed_data/base.html' %}

{% block content %}


    {% for post in posts %}
        <div class="col-md-3 post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}
            {% if post.photo %}

            <img class="mx-auto d-block" src="{{ post.photo.url }}" width="100%" height="200" alt="">
            {% endif %}
            </a></h1>
            <!-- <p>{{ post.text|linebreaksbr }}</p> -->

            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
            <br><br>
            <p><span style="color: #828282">{{post.published_date }}</span></p>
        </div>
    {% endfor %}

{% endblock content %}
